page {
  height: 100%;
  @apply yw-bg;
}

.navigator-hover {
  color: #07c160;
  @apply rounded-md;
}

.weui-toptips {
  display: block;
}

.favorite {
  color: #000000;
}

.read-bg {
  background: #07c160;
}
