page {
  height: 100%;
  @apply yw-bg;
}

.navigator-hover {
  color: #07c160;
  @apply rounded-md;
}

.weui-toptips {
  display: block;
}

.details-box {
  &-item {
    &_nav {
      height: 40px;

      &_send {
        padding: 0 !important;
        width: auto !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }

    &_h {
      height: 135px;
      padding-bottom: constant(safe-area-inset-bottom);
      padding-bottom: env(safe-area-inset-bottom);
    }
  }

  &-btn {
    height: 118px;
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);

    &_text {
    }

    &_send {
      font-size: 1rem !important;
      line-height: 1.5rem !important;
      padding: 0.2rem 1.2rem !important;
    }
  }
}

.user-avatar {
  width: 56px;
  height: 56px;
}

.reply-child {
  color: #000000;
}
